<div class="row container col-12">
  <div class="col-4 offset-4">
    <div class= "create-cocktail-form">
      <div class="form-header">
        Add your favourite cocktail:
      </div>
      <%= simple_form_for(@cocktail) do |f| %>
      <%= f.input :name, placeholder: 'Cocktail name...'%>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Prepare my cocktail!', class: 'btn btn--stripe' %>
      <% end %>
    </div>
    <br>
  </div>
</div>
<%= link_to "List of Cocktails", cocktails_path, class: 'btn btn--stripe' %>
